<header>
	<svg id="refactorman-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
		 viewBox="0 0 700 150">
		<text id="title" x="50%" y="70%" text-anchor="middle"><%= config.title %></text>
		<a xlink:href="mailto:jh@refactorman.com" rel='author'>
			<text id="author" x="56%" y="90%" text-anchor="right"><%= config.author %></text>
		</a>
	</svg>
</header>
<ol class="post-list">
<% page.posts.each(function(post){ %>
	<li>
		<div class="summary">
			<%- link_to(post.path, post.title) %>
			<%- post.excerpt %>
		</div>
		<time datetime='<%= date_xml(post.date) %>'><%= date(post.date) %></time>
	</li>
<% }) %>
</ol>
