<!DOCTYPE html>
<html>
<head>
	<title>
	<% if (page.title) { %>
	<%= page.title %> &mdash; <%= config.title %>
	<% } else { %>
	<%= config.title %> &mdash; <%= config.subtitle %>
	<% } %>
	</title>
	<meta charset='utf-8'>
	<meta name='viewport' content="width=width, initial-scale=1, ">
	<%- css('css/style.css') %>
</head>
<body>
	<%- body %>
</body>
</html>
